.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
.DS_Store
.Rprofile
data/
*.Rproj
renv/
renv.lock
requirements.txt
mc-quarto/answers_files/
mc-quarto/answers.html
mc-quarto/answers.qmd
mc-quarto/convert-answers-to-quarto.R
mc-quarto/extract-questions.R
mc-quarto/main.md
mc-quarto/md-to-quarto.R
mc-quarto/archive/